Source: libapache2-mod-authnz-external
Maintainer: Josef Liška  <josef.liska@virtualmaster.com>
Section: web
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), libc6 (>= 2.4), apache2-api-20120211, apache2-bin (>= 2.4.16), apache2-dev, dh-apache2
Recommends: pwauth
Homepage: https://github.com/phokz/mod-auth-external

Package: libapache2-mod-authnz-external
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 59
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: pwauth
Section: web
Priority: optional
Homepage: https://github.com/phokz/mod-auth-external
Description: authenticate Apache against external authentication services
 Mod_Authnz_External can be used to quickly construct secure, reliable
 authentication systems.  It can also be mis-used to quickly open gaping
 holes in your security.  Read the documentation, and use with extreme
 caution.
 .
 Notably, this module can be used to securely authenticate against PAM
 (without exposing /etc/shadow file), using, for example, pwauth
 authenticator.
 .
 This Package includes the mod-authnz-external Module for Apache Version 2.x
